btn-custom.left_content{

    display: flex;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;

}
#forms{

    width: auto;
    background: linear-gradient( #001F5C, #0057A3, #0076D6, #1CA0F2);
    border-radius: 8px;
    padding: 30px;
    height: auto;
    margin-top: 10px;

}

.table_admin{

    width: auto;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
}

.table_admin thead tr th{

    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    margin: 10px;
}

.table_admin tbody  tr td{

    color: white;
    font-weight: 600;
    padding: 5px

}


#forms .btn{

    margin-top: 5px;
    height: 35px;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;

}


.modal-he .modal-header {
    background: linear-gradient(to right, #007bff, #0056b3);
    color: white; 
}

.modal-he .modal-body {
    background-color: #fff; 
    color:rgb(0, 139, 139) !important; 
}

.modal-he .btn-close {
    filter: invert(1); 
}

.label-custom {
    color:blue !important;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

.btn-cancelar {
    background-color: red !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}


.btn-success{

    background-color: blue !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-success:hover{
    
     background-color:#efb810 !important;
}
.btn-cancelar:hover{
    
    background-color:#1CA0F2 !important;
}